*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a,
li,
ul {
    text-decoration: none;
}

 :root {
    --cor-azul: #0d6efd;
    --cor-azul-suave: hsl(231, 69%, 60%);
    --cor-azul-claro: rgba(105, 179, 254, .09);
    --cor-azul-escuro: hsl(233, 26%, 24%);
    --cor-vermelho-claro: hsl(0, 94%, 66%);
    --cor-verde-limao: hsl(136, 65%, 51%);
    --cor-ciano-brilhante: hsl(192, 70%, 51%);
    --cor-azul-acinzentado: hsl(233, 8%, 62%);
    --cor-azul-acinzentado-claro: hsl(220, 16%, 96%);
    --cor-cinza: #4b566b;
    --cor-cinzento-title: #373f50;
    --cor-cinzento: #dae1e7;
    --cor-cinza-muito-claro: hsl(0, 0%, 98%);
    --cor-branco: hsl(0, 0%, 100%);
    --cor-border: hsl(219deg 1% 72%);
    --cor-cinza-box-: hsl(220deg 43% 99%);
}

.header-pagamento {
    display: flex;
    width: 100%;
    height: 10rem;
    background: var(--cor-azul-escuro);
    color: var(--cor-branco);
    opacity: 1;
}

.content-header {
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
    margin: 0 1rem;
}

.whapper-geral {
    display: flex;
}

.card-breadcrumb {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
}

.breadcrumb-item-home {
    display: flex;
    gap: 0.3rem;
}

.breadcrumb-link,
.breadcrumb-link-cart {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}

.svgCazinha,
.svgArrow {
    width: 1rem;
    height: 1rem;
    fill: var(--cor-cinzento);
}

.card-home-shop-cart {
    padding-bottom: 1rem;
}

.breadcrumb-link {
    color: var(--cor-cinzento);
}

.breadcrumb-link-cart {
    color: var(--cor-azul-acinzentado);
}

.svgArrowCart {
    width: 1rem;
    height: 1rem;
    fill: var(--cor-azul-acinzentado);
}

.card-produtos-continueShoppin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
}

.container {
    margin-top: -3rem;
    padding: 0 1rem;
}

.produtosAdd-para-compras {
    flex: 0 0 auto;
    width: 66%;
}

.title-continueshoppin {
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--cor-branco);
}

.btn-outline-primary {
    display: inline-flex;
    text-align: center;
    align-items: center;
    font-weight: normal;
    color: var(--cor-vermelho-claro);
    border: 1px solid var(--cor-vermelho-claro);
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
}

.svgArrowLeft {
    width: 1rem;
    height: 1rem;
    fill: var(--cor-vermelho-claro);
}

.btn-outline-primary:hover {
    background: var(--cor-vermelho-claro);
    color: var(--cor-branco);
}

.content-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid var(--cor-cinzento);
}

.card-item {
    display: flex;
    align-items: center;
    width: 70%;
}

.card-quantidade {
    max-width: 30%;
}

.quantidade-item {
    display: block;
    width: 90%;
    padding: 0.625rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--cor-cinzento-title);
    border: 1px solid var(--cor-border);
    border-radius: 0.3125rem;
    outline: none;
}

.for-quantidade {
    margin-bottom: 0.7rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--cor-cinzento-title);
}

.coluna-descricao {
    font-size: 1rem;
    color: var(--cor-cinzento-title);
}

.coluna-detalhe {
    font-size: 0.8rem;
    padding: 0.2rem 0;
    color: var(--cor-azul-acinzentado);
}

.coluna-valor {
    font-size: 1rem;
    color: var(--cor-verde-limao);
}

.c-dth {
    margin-right: 0.5rem;
}

.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.5;
    color: var(--cor-vermelho-claro);
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.625rem 1.375rem;
    font-size: 0.9375rem;
    border-radius: 0.3125rem;
    transition: color .25s ease-in-out;
}

.card-valores {
    border-bottom: 1px solid var(--cor-border);
    padding-bottom: 1rem;
}

.title-subtotal {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.title-preco {
    font-weight: 400;
}

.card-comentarios {
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}

.card-detalheNote {
    display: inline-block;
    padding: 0.25em 0.625em;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    background: var(--cor-azul-suave);
    border-radius: 0.175rem;
    margin-right: 0.5rem
}

.content-pagamentos {
    flex: 0 0 auto;
    width: 33%;
    text-align: center;
    color: var(--cor-cinzento-title);
    padding: 1rem;
    background: var(--cor-branco);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%);
}

.labelComentatio {
    margin-bottom: 1rem;
}

.card-quadradoComentario {
    width: 70%;
    margin-top: 1rem;
    outline: none;
}

.content-orderOptions {
    border: 1px solid #dde4eb;
}

.whapperOptions {
    padding: 1.25rem 1.25rem;
}

.titleOptions {
    padding-bottom: 2rem;
}

.title-0ptions {
    font-size: 1rem;
    color: var(--cor-cinzento-title);
}

.mb-3 {
    display: block;
    width: 100%;
    padding: 0.625rem 3rem 0.625rem 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--cor-cinzento-title);
    border: 1px solid #dae1e7;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    outline: none;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.625rem 3rem 0.625rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--cor-cinzento-title);
    border-radius: 0.3125rem;
    box-shadow: inset 0 1px 2px transparent;
}

.btn-options {
    border-color: var(--cor-vermelho-claro);
    width: 100%;
}

.btn-options:hover {
    background: var(--cor-vermelho-claro);
    color: var(--cor-branco);
}

.invalid-feedback {
    padding-bottom: 1rem;
}

.cardBtn-checkout {
    padding-top: 1rem;
}

.btn-checkout {
    background-color: var(--cor-vermelho-claro);
    border-color: var(--cor-vermelho-claro);
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(254 105 106 / 90%);
    color: var(--cor-branco);
    width: 90%;
}

.btn-checkout:hover {
    background: var(--cor-branco);
    color: var(--cor-vermelho-claro);
}

.svgCheckout {
    width: 1rem;
    height: 1rem;
    fill: var(--cor-branco);
    margin-right: 0.4rem;
}