@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Open+Sans:wght@500;700&family=PT+Serif:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto";
    cursor: pointer;
}

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor-azul: #0d6efd;
    --cor-azul-suave: hsl(231, 69%, 60%);
    --cor-azul-claro: rgba(105, 179, 254, .09);
    --cor-azul-escuro: hsl(233, 26%, 24%);
    --cor-azul-footer: #2b3445;
    --cor-azul-acinzentado-claro: hsl(220, 16%, 96%);
    --cor-branco: hsl(0, 0%, 100%);
    --cor-border: hsl(219deg 20% 90%);
    --cor-cinza: #4b566b;
    --cor-ciano-brilhante: hsl(192, 70%, 51%);
    --cor-cinzento-title: #373f50;
    --cor-card: #f8f9fa;
    --cor-cinzento: #dae1e7;
    --cor-cinza-muito-claro: hsl(0, 0%, 98%);
    --cor-cinza-box-: hsl(220deg 43% 99%);
    --cor-verde-limao: hsl(136, 65%, 51%);
    --cor-vermelho-claro: hsl(0, 94%, 66%);
}

/* header */

.content-header {
    background: var(--cor-azul-acinzentado-claro) !important;
    cursor: pointer;
}

.navbar-collapse {
    background: var(--cor-azul-acinzentado-claro) !important;

}
#contadorProduto{
    height: 1rem;
}


/* section-apresentaçao*/
.img-banner {
    height: 610px;
}

.carousel-caption {
    bottom: 30rem !important;
}

/* section-vendas */
.span-principal {
    color: var(--cor-azul-suave);
}

.preco-atual-em-estoque {
    color: var(--cor-vermelho-claro) !important;
    font-size: 1rem !important;
}

.preco-oferta {
    color: var(--cor-verde-limao) !important;
    font-size: 1rem !important;
}

.preco-Avista {
    color: var(--cor-cinza) !important;
    font-size: 1rem !important;
}

.btn-compra {
    color: var(--cor-branco);
    background: var(--cor-vermelho-claro);
}

.conteudo-vendas {
    background-color: var(--cor-azul-acinzentado-claro);
    padding-top: 5rem;
}

.card-img-top {
    width: 50%;
    align-self: center;
}

.card-title {
    color: var(--cor-cinzento-title);
    font-size: 1.1rem;
}

.link-vejamais {
    color: var(--cor-vermelho-claro);
    text-decoration: none;

}

.title-oportunidade {
    color: var(--cor-cinzento-title);
    font-weight: 600;
    opacity: 0.9;
}

.card:hover {
    box-shadow: 0px 5px 10px 10px rgba(191, 187, 187, 0.2);
}

.card {
    background: var(--cor-card);
    border: 1px solid var(--cor-azul-acinzentado-claro);
}
.desconto {
    width: 3rem;
    color: var(--cor-branco);
    line-height: 1.5rem;
    background: var(--cor-vermelho-claro);
    border-radius: 0.2rem;
    margin: 0.9rem;
}

/* section-lancamento */
.img-lancamneto {
    height: 500px;
}

.box-carrosel {
    background: var(--cor-azul-acinzentado-claro);
}

.carousel-lancamento {
    bottom: 21rem !important;
}

.conteudo-titulo {
    height: 100px;
    border-bottom: 1px solid var(--cor-border);
}

.title-lancamento {
    font-size: calc(1.3rem + 0.6vw);
    color: var(--cor-cinzento-title);
    font-weight: 600;
    opacity: 0.9;

}

.title-produto-lancamento {
    font-size: calc(1.325rem + 0.9vw);
    color: var(--cor-azul-suave);

}

.link-lancamento {
    color: var(--cor-vermelho-claro);
    font-size: 1.5rem;
}

/* section-marcas */
.whapper-marcas {
    border-bottom: 1px solid var(--cor-border);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider-marcas {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider-marcas::before,
.slider-marcas::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 10%;
    z-index: 2;
}

.slider-marcas::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider-marcas::before {
    left: 0;
    top: 0;
}

.slider-marcas .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

/* section-destaques */
.widget-product-title a {
    color: var(--cor-cinzento-title);
    font-size: 0.8rem;
    text-decoration: none;
}

.text-accent {
    color: var(--cor-verde-limao);
}

.widget-list a {
    color: var(--cor-azul-acinzentado-claro);
    list-style: none;
}

.widget-list li {
    list-style: none;
}

/* footer */
.footer {
    background: var(--cor-azul-footer);
}

.icon-red {
    color: var(--cor-vermelho-claro);
    font-size: 2rem;
}

.svg-icon {
    color: var(--cor-vermelho-claro);
}

.linpa {
    text-decoration: none;
}
 

@media only screen and (max-width: 600px) {
    .img-banner {
        height: 400px;
    }

    .carousel-caption {
        bottom: 18rem !important;
    }

    h2 {
        font-size: 1rem;
    }

    .content-logo {
        padding-bottom: 1rem;
    }

    .navbar-collapse {
    margin-top:1rem !important;
    }
    .title-produto-lancamento{
        font-size: 1rem;
    }
    .carousel-lancamento{
        bottom: 10rem!important;
    }
    .img-lancamneto {
        height: 300px;
    }
    .link-lancamento {
        font-size: 0.9rem;
    }


}