*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a,
li,
ul {
    text-decoration: none;
}

 :root {
    --cor-azul: #0d6efd;
    --cor-azul-suave: hsl(231, 69%, 60%);
    --cor-azul-claro: rgba(105, 179, 254, .09);
    --cor-azul-escuro: hsl(233, 26%, 24%);
    --cor-vermelho-claro: hsl(0, 94%, 66%);
    --cor-verde-limao: hsl(136, 65%, 51%);
    --cor-ciano-brilhante: hsl(192, 70%, 51%);
    --cor-azul-acinzentado: hsl(233, 8%, 62%);
    --cor-azul-acinzentado-claro: hsl(220, 16%, 96%);
    --cor-cinza: #4b566b;
    --cor-cinzento-title: #373f50;
    --cor-cinzento: #dae1e7;
    --cor-cinza-muito-claro: hsl(0, 0%, 98%);
    --cor-branco: hsl(0, 0%, 100%);
    --cor-border:hsl(219deg 1% 72%);
    --cor-cinza-box-:hsl(220deg 43% 99%);
}


/* header */

.header {
    width: 100%;
    background: var(--cor-cinza-muito-claro);
    position: fixed;
    z-index: 1;

}

.conteudo-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteudo-nav__list {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

.content-btn-pesquisa {
    display: flex;
    width: 60%;
    gap: 1rem;
}

.logo-header img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.card-lupa-pesquisa {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    text-align: end;
    font-size: 0.9rem;
    line-height: 1.5;
    cursor: text;
    background-color: var(--cor-branco);
    border: 1px solid var(--cor-azul-acinzentado);
    appearance: none;
    border-radius: 0.4rem;
    box-shadow: inset 0 1px 2px transparent;
}

#lupa-pesquisa {
    border: none;
    width: 90%;
    outline: none;
}

.btn-login {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.2rem;
    flex: 0 0 auto;
    color: var(--cor-cinza);
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    transition: color .25s ease-in-out;
}

.btn-login:hover {
    color: var(--cor-vermelho-claro);
    box-shadow: 0 1rem 1rem 1rem rgb(31 27 45 / 8%), 0 1rem 0.75rem rgb(31 27 45 / 8%);
}

.svgArrow,
.svgLogin,
.svgArrowDestaque,
.svgCarrinho {
    display: inline-block;
    fill: currentColor;
    width: 2em;
    height: 2em;
    color: var(--cor-vermelho-claro);
}

.svgLupa {
    color: var(--cor-cinza);
    display: inline-block;
    fill: currentColor;
    height: 2em;
}

.btn-carrinho {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    flex: 0 0 auto;
    font-size: 1rem;
    padding: 12px;
    cursor: pointer;
    transition: color .25s ease-in-out;
    background: none;
    border: none;
}

.btn-carrinho:hover {
    color: var(--cor-vermelho-claro);
    box-shadow: 0 1rem 1rem 1rem rgb(31 27 45 / 8%), 0 1rem 0.75rem rgb(31 27 45 / 8%);
}

.conteudo-nav-link {
    color: var(--cor-cinzento-title);
}

.conteudo-nav-link:hover {
    color: var(--cor-vermelho-claro);
    transition: .3s ease-in-out;
}


.modal-cont {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.47);
    top: 0;
    left: 0;
     overflow: auto
   
    
}

.modal-box{
    width: 60%;
    padding: 10px;
    margin: 30px auto;
    background-color: var(--cor-branco);
    position: relative;
}

.modal-box .close {
    position: absolute;
    right: 16px;
    top: 5px;
    font-size: 25px;
    font-weight: bolder;  
    cursor: pointer
}
.modal-box .close:hover, .modal-box .close:focus{
    color:var(--cor-cinzento);
}
.modal-box img{
    width: 30%;
    border-radius: 50%;
    display: block;
    margin:auto;
    padding: 14px;
    margin-bottom: 30px;
    min-width: 150px;
    max-width: 230px
}
input[type=text], input[type=password]{
    width: 100%;
    border: 1px solid var(--cor-border);
    ;
    display: block;
    padding: 8px;
    margin: 5px 0;
    margin-bottom: 10px;
    
}
.modal-box .login-button {
    padding: 10px;
    font-size: 15px;
    display: block;
    width: 100%;
    color: var(--cor-branco);
    background-color: var(--cor-azul-suave);
    margin: 16px 0;
    border: none;
    
}
input[type = checkbox] {
    margin-right: 2px;
    vertical-align: baseline; 
}


.modal-box label, .modal-box .login-button, .modal-box input{
    width: 95%;
    display: block;
    margin: 10px auto
    
}

.modal-box .login-button{
    margin-top: 16px;
    cursor: pointer
}
input[type=checkbox]{
    display: inline-block;
    width: auto;
    margin-left: 16px
}
.modal-box .close-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2.5%;    
}
.modal-box .cancel{
    background-color: var(--cor-vermelho-claro);
    padding: 10px 15px;
    font-size: 15px;
    color: var(--cor-branco);
    cursor: pointer;
    border: none;
    
}
.modal-box span{
    float: right;
}
.modal-box a{
    color: var(--cor-azul-suave);
    font-weight: 500;
    text-decoration: underline;
}


.modal-cont{
    display: none;
    z-index: 1;
}

.modal-box {
    animation-name: zoom;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    border: 1px solid var(--cor-azul-escuro);
    border-radius: 4px;
    box-shadow: 1px 1px 8px var(--cor-azul-suave);
    
}
.login-box h1{
    padding-bottom: 1rem;
}

@keyframes zoom {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

.tabs {
  font-family: "lucida grande", sans-serif;
}

[role="tablist"] {
  margin: 0 0 -0.1em;
  overflow: visible;
}

[role="tab"] {
  position: relative;
  margin: 0;
  padding: 0.3em 0.5em 0.4em;
  border: 1px solid var(--cor-border);
  border-radius: 0.2em 0.2em 0 0;
  box-shadow: 0 0 0.2em var(--cor-border);
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  background: var(--cor-cinza-muito-claro);
}

[role="tab"]:hover::before,
[role="tab"]:focus::before,
[role="tab"][aria-selected="true"]::before {
  position: absolute;
  bottom: 100%;
  right: -1px;
  left: -1px;
  border-radius: 0.2em 0.2em 0 0;
  border-top: 3px solid var(--cor-vermelho-claro);
  content: "";
}

[role="tab"][aria-selected="true"] {
  border-radius: 0;
  background: var(--cor-cinza-box);
  outline: 0;
}

[role="tab"][aria-selected="true"]:not(:focus):not(:hover)::before {
  border-top: 5px solid var(--cor-azul-suave);
}

[role="tab"][aria-selected="true"]::after {
  position: absolute;
  z-index: 3;
  bottom: -1px;
  right: 0;
  left: 0;
  height: 0.3em;
  background: var(--cor-cinza-box);
  box-shadow: none;
  content: "";
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: 0;
  border-radius: 0;
  color: inherit;
}

[role="tab"]:hover::before,
[role="tab"]:focus::before {
  border-color: var(--cor-vermelho-claro);
}

[role="tabpanel"] {
  position: relative;
  z-index: 2;
  padding: 3rem;  border: 1px solid var(--cor-border);
  border-radius: 0 0.2em 0.2em;
  box-shadow: 0 0 0.2em var(--cor-border);
  background: var(--cor-cinza-box);
}

[role="tabpanel"].is-hidden {
  display: none;
}

[role="tabpanel"]:focus {
  border-color: var(--cor-vermelho-claro);
  box-shadow: 0 0 0.2em var(--cor-vermelho-claro);
  outline: 0;
}

[role="tabpanel"]:focus::after {
  position: absolute;
  bottom: 0;
  right: -1px;
  left: -1px;
  border-bottom: 3px solid var(--cor-vermelho-claro);
  border-radius: 0 0 0.2em 0.2em;
  content: "";
}

[role="tabpanel"] p {
  margin: 0;
}

[role="tabpanel"] * + p {
  margin-top: 1em;
}


.title-resumo{
    margin-bottom: 0px;
    margin-top: 25px;
    text-align: center;
    font-weight: 200;
    font-size: 19px;
    font-size: 1.2rem;

}
.container-checkout {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(#c9e5e9, #ccddf9);
}
.dropdown-select.visible {
    display: block;
}

.dropdown {
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    padding-left: 10px;
    cursor: pointer;
}

ul li:hover {
    background: rgba(255, 255, 255, 0.1);
}
.dropdown-select {
    position: absolute;
    background: #77aaee;
    text-align: left;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 90%;
    left: 2px;
    line-height: 2em;
    margin-top: 2px;
    box-sizing: border-box;
}

.thin {
    font-weight: 400;
}
.small {
    font-size: 12px;
    font-size: .8rem;
}

.half-input-table {
    border-collapse: collapse;
    width: 100%;
}

.half-input-table td:first-of-type {
    border-right: 10px solid #4488dd;
    width: 50%;
}
.window {
    height: 34rem;
    width: 80%;
    background: #fff;

    display: flex;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    z-index: 10;
}
.order-info {
    height: 100%;
    width: 50%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
}

.price {
    bottom: 0px;
    position: absolute;
    right: 0px;
    color: #4488dd;
}
.order-table td:first-of-type {
    width: 25%;
}

.order-table {
    position: relative;
}

.line {
    height: 1px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ddd;
}
.order-table td:last-of-type {
    vertical-align: top;
    padding-left: 25px;
}

.order-info-content {
    table-layout: fixed;

}

.full-width {
    width: 100%;
}
.pay-btn {
    border: none;
    background: #22b877;
    line-height: 2em;
    border-radius: 10px;
    font-size: 19px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    width: calc(100% - 50px);
    transition: all .2s ease;
}
.pay-btn:hover {
    background: #22a877;
    color: #eee;
    transition: all .2s ease;
}

.total {
    margin-top: 25px;
    font-size: 20px;
    font-size: 1.3rem;
    position: absolute;
    bottom: 30px;
    right: 27px;
    left: 35px;
}
.dense {
    line-height: 1.2em;
    font-size: 16px;
    font-size: 1rem;
}

.input-field {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    margin-top: 3px;
    line-height: 1.5em;
    font-size: 20px;
    font-size: 1.3rem;
    border: none;
    padding: 5px 10px 5px 10px;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.credit-info {
    background: #4488dd;
    height: 100%;
    width: 50%;
    color: #eee;

    justify-content: center;
    font-size: 14px;
    font-size: .9rem;
    display: flex;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
}
.dropdown-btn {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 1.5em;
    cursor: pointer;
    position: relative;
    transition: .2s ease;
}

.dropdown-btn:after {
    content: '\25BE';
    right: 8px;
    position: absolute;
}
.dropdown-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: .2s ease;
}

.dropdown-select {
    display: none;
}

.credit-card-image {
    display: block;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 15px;
}
.credit-info-content {
    margin-top: 25px;
    flex-flow: column;
    display: flex;
    width: 100%;
}


/* fim header */


/* section-principal */

.title-principal {
    font-size: 1.6rem;
    color: var(--cor-branco);
    text-align: center;
    padding-top: 2rem;
    text-transform: uppercase;
}

.span-principal {
    color: var(--cor-azul-suave);
}

.whapper-principal {
    width: 100%;
    height: 100%;
}

.card-imagem-principal {
    background-image: url(./imagens/banner-principal2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30rem;
    background-position: center;
}

.card-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    top: 20rem;
}

.card-link-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20rem;
    height: 3rem;
    width: 10rem;
    border-radius: 0.5rem;
    background: var(--cor-branco);
    left: 1rem;
}

.card-link-principal a {
    color: var(--cor-vermelho-claro);
}

.card-link-principal :hover {
    color: var(--cor-azul-suave);
}

.btn-link img {
    width: 1rem;
    height: 1rem;
    filter: invert(1);
}


/* fim */


/* section ofertas */

.title-ofertas,
.title-produto-em-estoque {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid var(--cor-cinzento);
}

.title-ofertas h2,
.title-produto-em-estoque h2 {
    color: var(--cor-vermelho-claro);
}

.title-link {
    color: var(--cor-vermelho-claro);
}

.whapper-produto-ofertas {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 5px;
}

.detalhe-padding {
    padding: 2rem;
    text-align: center;
}

.card {
    flex: 0 0 auto;
    width: 32%;
    text-align: center;
    background: var(--cor-branco);
}

.card:hover {
    box-shadow: 0 1rem 1rem 1rem rgb(31 27 45 / 8%), 0 1rem 0.75rem rgb(31 27 45 / 8%);
    transition: .3s ease-in-out;
    z-index: 1;
}

.content-produto-desconto {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 4rem 3rem;
    background-color: rgb(250, 250, 251);
}

.img-oculus {
    width: 100%;
}

.card-img-grande {
    width: 40%;
    background: var(--cor-branco);
}

.card-img-grande:hover {
    box-shadow: 0 1rem 1rem 1rem rgb(31 27 45 / 8%), 0 1rem 0.75rem rgb(31 27 45 / 8%);
    transition: .3s ease-in-out;
    z-index: 1;
}

.descricao-produto {
    text-align: center;
}

.detalhe-link {
    display: flex;
    align-items: center;
    text-align: center;
}

.detalhe-link :hover {
    color: var(--cor-azul-suave);
}

.title-produto-ofertas {
    color: var(--cor-cinza);
    font-size: 0.75rem;
}

.sub-title-produto-ofertas>a {
    font-size: 0.8rem;
    color: var(--cor-azul-escuro);
}

.sub-title-produto-ofertas-grande a {
    color: var(--cor-azul-escuro);
    font-size: 1rem;
}

.sub-title-produto-ofertas,
.sub-title-produto-ofertas-grande {
    padding: 0.5rem 0;
}


.preco-oferta {
    color: var(--cor-verde-limao);
}

.preco-atual {
    color: var(--cor-vermelho-claro);
}

.desconto {
    width: 3rem;
    background: var(--cor-vermelho-claro);
    color: var(--cor-branco);
    border-radius: 0.2rem;
    line-height: 1.5rem;
    margin: 0.9rem;
}

.desconto-grande {
    width: 4rem;
    text-align: center;
    background: var(--cor-vermelho-claro);
    color: var(--cor-branco);
    border-radius: 0.2rem;
    line-height: 1.5rem;
    margin: 0.9rem;
}

.card-imagem-lancameto img {
    width: 100%;
}


/* fim section ofertas */


/*  inicio section lançamento */

.whapper-lancamento {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    background: var(--cor-azul-claro);
    padding: 1rem 2rem;
    cursor: pointer;
}

.content-lancamento {
    padding: 0 3rem;
    margin-top: 2rem;
}

.card-descricao-lancamento {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
}

.card-imagem-lancameto {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
}

.sub-card-lancamento {
    height: 90%;
    padding: 2rem 0 0 3rem;
}

.sub-card-lancamento h2 {
    font-size: calc(1.325rem + 0.9vw);
    color: var(--cor-azul-suave);
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: 0.6rem;
    padding-top: 1rem;
}

.sub-card-lancamento span {
    font-size: calc(1.3rem + 0.6vw);
    color: var(--cor-cinzento-title);
    font-weight: 600;
}

.sub-card-lancamento p {
    color: var(--cor-cinza);
}

.detalhe-link-lancamento {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.btn-lancamento {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 3rem;
    width: 10rem;
    border-radius: 0.5rem;
    color: var(--cor-branco);
    background: var(--cor-vermelho-claro);
}

.btn-lancamento:hover {
    box-shadow: 0 1rem 1rem 1rem rgb(31 27 45 / 8%), 0 1rem 0.75rem rgb(31 27 45 / 8%);
    transition: .3s ease-in-out;
    color: var(--cor-azul-escuro);
}

.svgArrow-lancamento {
    display: inline-block;
    fill: currentColor;
    width: 2em;
    height: 2em;
    color: var(--cor-branco);
}

.svgArrow-lancamento:hover {
    color: var(--cor-azul-escuro);
}


/* fim section lançamento */


/* começo section produto em estoque */

.content-produto-em-estoque {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    background-color: rgb(250, 250, 251);
}

.card-produto-em-estoque {
    flex: 0 0 auto;
    width: 24%;
    height: auto;
    text-align: center;
    margin-bottom: 1rem;
}

.whapper-produto-em-estoque {
    background: rgb(255, 255, 255);
}

.whapper-produto-em-estoque:hover {
    box-shadow: 0 1rem 1rem 1rem rgb(31 27 45 / 8%), 0 1rem 0.75rem rgb(31 27 45 / 8%);
    z-index: 1;
}

.content-ptestoque {
    padding: 1rem;
}

.title-destaque,
.title-produto-em-estoque {
    font-size: 0.9rem;
    color: var(--cor-cinza);
}

.imagem-produto-em-estoque {
    width: 100%;
}

.card-preco-produto-em-estoque {
    padding: 0.5rem 0;
    font-size: 0.9rem;
}

.preco-Avista,
.parcela-cartao,
.preco-parcelamento {
    color: var(--cor-cinza);
    font-size: 0.8rem;
}


/* fim da section */


/* section-marcas */

.content-marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.card-marcas {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: 20%;
    height: 8rem;
    border: 1px solid var(--cor-cinzento);
}

.imagem-marcas {
    width: 100%;
}


/* fim section marcas */


/* começo section destaque */

.whapper-destaque {
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    cursor: pointer;
}

.card-destaque {
    flex: 0 0 auto;
    width: 30%;
}

.imagem-destaque {
    width: 5rem;
}

.card-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--cor-cinzento);
    margin: 0 1rem;
}

.title-vendidos {
    color: var(--cor-cinzento-title);
    margin-bottom: 1rem;
    text-align: center;
}

.detalhe-destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}